canvas#canvas {
    border: 1px solid black;
    image-rendering: pixelated;
}

div.block {
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
}
div.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


div#lwidth_testbox {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
div#lwidth_test {
    width: 5px;
    height: 5px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: black;
}